<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/css/jquery-3.js" type="text/javascript"></script>
    <script src="/webjars/vue/2.5.16/vue.min.js"></script>
    <script src="/css/axios.min.js"></script>
    <link href="/css/auth.css" rel="stylesheet">
    <title th:text="#{general.info}">Info</title></head>
<body><div class="TitleTop" th:text="#{general.info}">Info</div>

<div style="width:500px" class="text-white" th:text="#{general.batch}">Batch</div>
</body>
</html>
