<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="css/jquery-3.js"></script>
    <script src="webjars/vue/2.5.16/vue.min.js"></script>
    <link href="css/auth.css" rel="stylesheet">
    <title th:text="#{general.info}">Info</title></head>
<body><div class="TitleTop" th:text="#{general.info}">Info</div>

<div style="width:500px" class="text-white">
<form id="edit-form"  th:action="@{/book(id=${book.id})}" th:method="post" action="book.html">
    <div>
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div>
        <label for="title-input" th:text="#{general.title}">Title:</label>
        <input id="title-input" name="title" type="text" th:value="${book.title}" value="Title"/>
    </div>
    <div>
        <label for="author-input" th:text="#{general.author}">Authors:</label>
        <textarea id="author-input" name="author" type="text" th:field="${book.author}">Author</textarea>
    </div>
    <div>
        <label for="genre-input" th:text="#{general.genre}">Genres:</label>
        <textarea id="genre-input" name="genre" th:field="${book.genre}">Genre</textarea>
    </div>
    <div>
        <label for="comment-input" th:text="#{general.comment}">Comments:</label>
        <textarea id="comment-input" name="comment" th:field="${book.comment}">Comment</textarea>
    </div>

    <div class="text-white" style="width: 200px">
        <button type="submit" class="btn btn-primary btn-block btn-large" th:text="#{general.save}">Save</button>
    </div>
</form>
    <div class="text-white" style="width:200px">
        <form method="get" action="/">
            <button type="submit" class="btn btn-primary btn-block btn-large" th:text="#{general.gomain}">Back to main page</button>
        </form>
    </div>
</div>

</body>
</html>
