<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="css/jquery-3.js"></script>
    <link href="css/auth.css" rel="stylesheet">
    <title th:text="#{general.info}">Info</title></head>
<body><div class="TitleTop" th:text="#{general.info}">Info</div>
<table class="text-white">
    <thead>
    <tr>
        <td>ID</td>
        <td th:text="#{general.title}">Title</td>
        <td th:text="#{general.author}">Author</td>
        <td th:text="#{general.genre}">Genre</td>
        <td th:text="#{general.comment}">Comment</td>
        <td th:text="#{general.edit}">Edit</td>
        <td th:text="#{general.delete}">Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.genre}">Genres</td>
        <td th:text="${book.comment}">Comments</td>
        <td>
            <a th:href="@{/book(id=${book.id})}" href="book.html" th:text="#{general.edit}">Edit</a>
        </td>
        <td>
            <form th:action="@{/book/delete(id=${book.id})}" method="post">
                <button type="submit" name="name" value="value" class="btn-link" th:text="#{general.delete}">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div class="text-white" style="width:200px">
    <form method="get" action="/book">
        <input name="id" readonly="readonly" value="new" type="hidden"/>
        <button type="submit" class="btn btn-primary btn-block btn-large" th:text="#{general.new}">New book</button>
    </form>
</div>
</body>
</html>
